<div class="container">
			<h1 class="title title__support">Поддержка</h1>
		</div>
		<div class="feedback feedback__support">
			<div class="feedback__background"></div>
           
			<h2 class="feedback__title">Важная информация</h2>
			<p class="feedback_text">
              
				— Если вы хотите пополнить баланс через киви/банковскую карту или у вас возникли проблемы с зачислением
				денег на баланс,
				то: <br>
				<br>
				Тема сообщения: “Пополнение баланса”, в самом сообщении указать следующее: <br>
				”Необходимо Пополнение через QIWI/карту” <br>
				<br>
				— Если возникли проблемы с зачислением денег на баланс, указать следующее: <br>
				<br>
				1. Платежная система, через которую проводилась оплата <br>
				2. Номер счета, с которого производилась оплата <br>
				3. Время и дата оплаты<br>
				4. Сумма <br>
				<br>
              Ответ технической поддержки может занимать до 24 часов
			</p>
		</div>
		<div class="container">
			<button onclick="hide()" class="button__red_text">
				<span id="+">+</span>
				<span id="-" class="d-nonee minus">-</span>Новое обращение</button>
          
          <form {% if site['rtl'] %}class="rtl-form"{% endif %} method="post" action="" id="ticketsend">
                        <div class="alert alert-dismissible alert-danger ticket-danger {% if site['rtl'] %} rtl-alert {% endif %}" style="display: none">
              <button type="button" class="close">&times;</button>
              <div></div>
            </div>
			<div class="form d-nonee">
				<input type="text" class="form-control inputts" placeholder="Тема" id="subject" name="TicketForm[subject]">
				<textarea class="textarea_buy" placeholder="Сообщение" class="form-control" rows="7" id="message" name="TicketForm[message]"></textarea>
                <input type="hidden" name="_csrf" value="{{csrftoken}}">
				<button type="submit" class="red__buttonn">Отправить</button>
			</div>
          </form>
          {% if ticketList %}
			<h1 class="title title-2">История обращений</h1>
				<div class="story" style="overflow-x: auto">
				<div class="suppoer__line"></div>
				<div class="story__row">
					<div class="row__title">ID</div>
                  {% for ticket in ticketList %}
					<div class="row__value">{{ ticket['id'] }}</div>
                  {% endfor %}
				</div>
				<div class="story__row">
					<div class="row__title">Тема</div>
                  {% for ticket in ticketList %}
					<div class="row__value"><a class="row__value__link" href="{{ page_url('viewticket') }}/{{ ticket['id'] }}">{{ticket['theme']}}</a></div>
                  {% endfor %}
				</div>
				<div class="story__row d-none">
					<div class="row__title">Последнее обновление</div>
                  {% for ticket in ticketList %}
					<div class="row__value">{{ticket['time']}}</div>
                  {% endfor %}
				</div>
				<div class="story__row">
					<div class="row__title">Статус</div>
                  {% for ticket in ticketList %}
					<div class="row__value">{{ticket['status']}}</div>
                  {% endfor %}
				</div>
                 
			</div>
           			{% if pagination['count'] > 50 %}
             <div class="numbers container">
				<span class="numbers__num">
                  {% if pagination['current'] != 1 %}
                  <a href="{{ page['url'] }}/{{ status }}/{{ pagination['last'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous" class="numbers_animate">&laquo;</a>
                  {% endif %}

                  {% set r, l = 3, 3 %}

                  {% if pagination['current'] == 1 %}
                  {% set r = 6 %}
                  {% endif %}

                  {% if pagination['current'] == 2 %}
                  {% set r = 5 %}
                  {% endif %}

                  {% if pagination['current'] >= pagination['pages'] %}
                  {% set l = 5 %}
                  {% endif %}
                  
                  {% for i in 1..ceil(pagination['pages']) %}
                    {% if i >= (pagination['current']-l) and i <= (pagination['current']+r) %}
                  <a {% if i == pagination['current'] %} class="numbers_animate numbers_animate_active"{% else %} class="numbers_animate" {% endif %} href="{{ page['url'] }}/{{ status }}/{{i}}{% if search %}?search={{ search }}{% endif %}">{{i}}</a>
                    {% endif %}
                  {% endfor %}

                {% if pagination['current'] < pagination['pages'] %}
                  
                  <a href="{{ page['url'] }}/{{ status }}/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next" class="numbers_animate">&raquo;</a>
                {%endif%}

				</span>


			</div>  
              {% endif %}
          {% endif%}
		</div>